<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Allows static files to be loaded from the apps static files -->
    {% load static %}
    <meta charset="UTF-8">

    <!-- Imports JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/HomePage.css' %}">
    <title>Residency System</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Residency System</h1>
    </div>
    <div class="col-md-6 text-center" id="leftside">
        <a type="button" class="btn btn-primary btn-block" id="loginButton" href="accounts/login">Login</a>
        <br>
        <a type="button" class="btn btn-info btn-block" id="registerButton" href="accounts/register">Register</a>
    </div>
    <div class="col-md-6" id="rightside">
        <p id="cometLabel">Center for Complexity & Emerging Technologies</p>
    </div>
</body>
</html>