<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel='icon' href='{% static 'images/CometLogoSquare.png' %}'>
    <!-- Imports JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/Mainpage.css' %}">

    <title>Mainpage</title>
</head>
<body>
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="../mainpage">
                    <img style="height: 350%" src="{% static 'images/CometLogo.png' %}">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Teams</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Schedule</a></li>
                <li><a href="#">Teams</a></li>
            </ul>
        </div>
    </nav>
    <div class="everything">
        Hello,
    <a href="../accounts/logout/">{{ request.user.username }} logout</a>
    </div>
</body>
</html>